# Dependencies
node_modules/
jspm_packages/

# Production/Build outputs
dist/
build/
out/
.next/
.nuxt/

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostic reports (Crashed Node processes)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# macOS Specific Files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes

# Editor & IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing
coverage/
.nyc_output/
